<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.followupapp.reminders"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon"
        		 android:theme="@android:style/Theme.Light"
    			 android:label="Follow up">
        <activity android:name="ReminderActivity"
                  android:label="Follow up reminder">
        </activity>
        <activity android:name="SettingsActivity"
                  android:label="Follow Up">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="SmsIncomingReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name="ReminderReceiver">
        </receiver>

    </application>
<!--  
    <uses-permission android:name="android.permission.SEND_SMS" />
-->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
</manifest>